/* React adding an unneccassary div that needs to be styled as such for an subsequent child styling to work */
.position-relative > div{
    position: relative;
    width: 100%;
    height: 100%;
}

.container-fluid{
    padding-top: 64px;
}

.transcribe-row { 
    position: fixed; 
    padding: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid black;
    box-shadow: 0 0 8px #474747;

}

.bottom-row {
    display: flex;
    position: fixed; 
    padding: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    border-top: 2px solid black;
    box-shadow: 0 0 8px #474747;
}

.transcribe-child {
    flex-grow: 90;
}

.download-child {
    flex-grow: 0.01;
}


.spacer{
    height: 80px;
}
