/* React adding an unneccassary div that needs to be styled as such for an subsequent child styling to work */
.position-relative > div{
    position: relative;
    width: 100%;
    height: 100%;
}

.container-fluid{
    padding-top: 64px;
}