<html>
<style>
h3 {
    color: #666666;
    font-family: verdana;
    size: 200%;
    text-align: center;
}
ol {
    list-style: none;
    counter-reset: li;
}
li::before {
    content: counter(li);
    color: #777777;
    display: inline-block; width: 1em;
    margin-left: -1em;
}
li {
    counter-increment: li;
}
body {
    background-color: #fffff8;
}

td:first-child {
  color: #777777;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
</style>

<head>
    <title>Hey guys</title>
</head>
<body>
    <div class='split left'>
        <h3>What I've been saying</h1>
        <hr>
        <table>
            <colgroup>
                <col style="size: 50%;">
            </colgroup>
            <tr>
                <td><font size="2">DaVinci</font></td>
                <td id='r1'></td>
            </tr>
            <tr>
                <td><font size="2">Galileo</font></td>
                <td id='r2'</td>
            </tr>
            <tr>
                <td><font size = "2">Machiavelli</font></td>
                <td id='r3'></font></td>
            </tr>
            <tr>
                <td><font size = "2">Noam Chomsky</font></td>
                <td id='r4'</font></td>
            </tr>
            <tr>
                <td><font size = "2">Inigo Montoya</font></td>
                <td id='r5'</td>
            </tr>
            <tr>
                <td><font size = "2">Salvador Dali</font></td>
                <td id='r6'></font></td>
            </tr>
            <tr>
                <td><font size = "2">Harry Potter</font></td>
                <td id='r7'</font></td>
            </tr>
            <tr>
                <td><font size = "2">Nicholas Flamel</font></td>
                <td id='r8'</td>
            </tr>

        </table>
        <div id='phrase list'></div>
    </div>
    <div class='split right'>
        <h3>The important points</h3>
        <hr>
        <div id='stage'></div>
    </div>
</body>

<script src="static/js/react.js"></script>
<script src="static/js/react-dom.js"></script>
<script src="static/js/socket.io-1.0.0.js"></script>
<script>
    window.onload = function() {

        class SocketWrapper extends React.Component {
            constructor() {
                console.log('constructing...');
                super();
                this.state = {
                    value: {'phrases': ['some philler for now'], 'stage': ['philler']}
                };
            }

            componentDidMount() {
                console.log('component did in fact mount...')
                const socket = io();
                socket.on("my_response", data => this.setState({value: data}));
		socket.emit("join", { "userId":  "5e0f73467c1ffbca9ce828b2" });
            }

            render() {
                console.log('rendering...');
            }
        }

        class R1 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[0]);
            }
        }

        class R2 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[1]);
            }
        }

        class R3 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[2]);
            }
        }

        class R4 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[3]);
            }
        }

        class R5 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[4]);
            }
        }

        class R6 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[5]);
            }
        }

        class R7 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[6]);
            }
        }

        class R8 extends SocketWrapper {
            constructor() {
                super();
            }
            
            render() {
                return React.createElement('p', null, this.state.value.phrases[7]);
            }
        }


        class Stage extends SocketWrapper {
            constructor() {
                super();
            }
            render() {

		const key = "emex";

                var listy = [
                    this.state.value.stage[0],
                    this.state.value.stage[1],
                    this.state.value.stage[2],
                    this.state.value.stage[3]
                ];
                var listitems = listy.map((num) => 
                    React.createElement('li', {key : num}, num)
                );
                return (
                    React.createElement('ol', {key : "test1"}, listitems)
                );
            }
        }

        ReactDOM.render(
            React.createElement(R1),
            document.getElementById('r1')
        )
        ReactDOM.render(
            React.createElement(R2),
            document.getElementById('r2')
        )
        ReactDOM.render(
            React.createElement(R3),
            document.getElementById('r3')
        )
        ReactDOM.render(
            React.createElement(R4),
            document.getElementById('r4')
        )
        ReactDOM.render(
            React.createElement(R5),
            document.getElementById('r5')
        )
        ReactDOM.render(
            React.createElement(R6),
            document.getElementById('r6')
        )
        ReactDOM.render(
            React.createElement(R7),
            document.getElementById('r7')
        )
        ReactDOM.render(
            React.createElement(R8),
            document.getElementById('r8')
        )

        ReactDOM.render(
            React.createElement(Stage),
            document.getElementById('stage')
        )
    }
</script>

</html>



