<DOCTYPE html>
<html>
<head>
	<script type='text/javascript' src='static/login.js'></script>
</head>
<body>
	<h1>Welcome to your Extended Mind. Please login to our shitty temporary HTML frontend.</h1>
	<table>
	<tr>
		<td width="50%">
			<form id="loginForm">
				<input name="username" type="text" placeholder="Username."></br>
				<input name="password" type="password" placeholder="Password"></br>
				<input type="submit" id="submitButton" value="Search"><br/>
			</form>
		</td>
	</tr>
	</table>
</body>
</html>

