<DOCTYPE html>
<html>
<head>
	<script type='text/javascript' src='static/searchbasic.js'></script>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="lone">WorkingMem</a>
        <a href="ltwo">L2 (day) Cache</a>
        <a href="search">Search</a>
        <a href="timeflow">Timeflow</a>
        <a href="/">Login</a>
    </div>
	<h1>Enter ur shit boi</h1>
	<table>
	<tr>
		<td width="50%">
			<form id="searchForm">
				<input name="query" type="text" placeholder="Search query..."></br>
				<input name="time" type="text" placeholder="Datetime..."></br>
				<input type="submit" id="submitButton" value="Search"><br/>
			</form>
		</td>
		<td width="50%">
			<input id="recent" type="button" value="Timeflow">
		</td>
	</tr>
	</table>
<hr/>

<div id="results">
	<p>Results</p>
		
	<ul id="resultsList">
	</ul>
</div>

</body>
</html>

