<DOCTYPE html>
<html>
<head>
	<script type='text/javascript' src='static/searchbasic.js'></script>
</head>
<body>
	<h1>Enter ur shit boi</h1>
	<table>
	<tr>
		<td width="50%">
			<form id="searchForm">
				<input name="query" type="text" placeholder="Search query..."></br>
				<input name="time" type="text" placeholder="Datetime..."></br>
				<input type="submit" id="submitButton" value="Search"><br/>
			</form>
		</td>
		<td width="50%">
			<input id="recent" type="button" value="See Recent">
		</td>
	</tr>
	</table>
<hr/>

<div id="results">
	<p>Results</p>
		
	<ul id="resultsList">
	</ul>
</div>

</body>
</html>

