<DOCTYPE html>
<html>
<head>
	<script type='text/javascript' src='static/signup.js'></script>
<link rel="stylesheet" href="static/styles.css">
</head>
<body>
   <div class="topnav">
       <a href="lone">WorkingMem</a>
        <a href="ltwo">MXT / L2 (day) Cache</a>
        <!-- <a href="lthree">L3 (week) Cache</a> -->
        <!-- <a href="todo">ToDo Cache</a>-->
        <a href="search">Search</a>
        <a href="timeflow">Timeflow</a>
        <a href="/">Login</a>
        <a href="/signup">Signup</a>
    </div>
 	<h1>Welcome to the Extended Mind System. Sign up.</h1>
	<table>
	<tr>
		<td width="50%">
			<form id="signupForm">
                <input name="username" type="text" placeholder="Username"></br>
				<input name="name" type="text" placeholder="First and Last Name."></br>
				<input name="email" type="text" placeholder="Email"></br>
				<input name="password" type="password" placeholder="Password"></br>
				<input type="submit" id="submitButton" value="Search"><br/>
			</form>
		</td>
	</tr>
	</table>
</body>
</html>

