<DOCTYPE html>
<html>
	<head>
		<script type='text/javascript' src='static/timeflow.js'></script>

        <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="topnav">
        <a href="lone">WorkingMem</a>
        <a href="ltwo">L2 (day) Cache</a>
        <a href="lthree">L3 (week) Cache</a>
        <a href="todo">ToDo Cache</a>
        <a href="search">Search</a>
        <a href="timeflow">Timeflow</a>
        <a href="/">Login</a>
    </div>
	</head>
	<h1>Surf through your memories</h1>
	
	<table>
		<tr>
			<td width="25%">
				<form id="timeForm">
					<input name="timeFrame" id="timeFrame" type="text" placeholder="Time frame to see (seconds)..."></br>
					<input type="submit" id="submitButton" value="Search"><br/>
				</form>
			</td>
			<td>
				<input id="recent" value="See Most Recent" type="submit">
		</tr>
	</table>
	<hr/>
	<div id="results">
		<p>Results</p>
		<ul id="resultsList">
		</ul>
	</div>
</body>



</body>
</html>

