<DOCTYPE html>
<html>
	<head>
		<script type='text/javascript' src='static/timeflow.js'></script>
	</head>
<body>
	<h1>Surf through your memories</h1>
	
	<table>
		<tr>
			<td width="25%">
				<form id="timeForm">
					<input name="timeFrame" id="timeFrame" type="text" placeholder="Time frame to see (seconds)..."></br>
					<input type="submit" id="submitButton" value="Search"><br/>
				</form>
			</td>
			<td>
				<input id="recent" value="See Most Recent" type="submit">
			</td>
			<td width="75%">
				<input id="searchButton" value="Search something else" type="submit">
			</td>
		</tr>
	</table>
	<hr/>
	<div id="results">
		<p>Results</p>
		<ul id="resultsList">
		</ul>
	</div>
</body>



</body>
</html>

