<DOCTYPE html>
<html>
	<head>

        <title>Memory Expansion Tools</title>
        <link rel="stylesheet" href="static/styles.css">
</head>
<body>
 <div class="topnav">
        <a href="ltwo">MXTCache</a>
        <a href="lone">WorkingMemCache</a>
        <!-- <a href="lthree">L3 (week) Cache</a> -->
        <!-- <a href="todo">ToDo Cache</a>-->
        <!-- <a href="search">Search</a>-->
        <!--<a href="timeflow">Timeflow</a>-->
        <a href="/">Login</a>
        <a href="/signup">Signup</a>
    </div>
	</head>
	<h1>MXT Cache</h1>
	
	<hr/>
	<div id="results">
		<ul id="resultsList">
            {% for item in data %}
                <li>{{ item }}</li>
            {% endfor %}
		</ul>
	</div>
</body>



</body>
</html>

