.no-memories{
    position: relative;
    height: calc(100% - 7em);
    width: calc(100% - 31px); 
    background-color: #333333; 
    color: white; 
}

.map-container{
    position: relative;
    height: calc(100% - 8em);
    width: calc(100% - 31px);
}

.legend{
    position: relative;
    text-align: center;
    width: calc(100% - 31px);
}

.legend-icon{
    position: relative;
    height: 1em;
    width: 1em; 
    background-size: contain;
    display: inline-block;
}

#red-marker{
    background-image: url("https://maps.google.com/mapfiles/ms/icons/red-dot.png");
}

#blue-marker{
    background-image: url("https://maps.google.com/mapfiles/ms/icons/blue-dot.png");
}

#green-marker{
    background-image: url("https://maps.google.com/mapfiles/ms/icons/green-dot.png");
}
