<html>
<style>
h3 {
    color: #666666;
    font-family: verdana;
    size: 200%;
    text-align: center;
}
ol {
    list-style: none;
    counter-reset: li;
}
li::before {
    content: counter(li);
    color: #777777;
    display: inline-block; width: 1em;
    margin-left: -1em;
}
li {
    counter-increment: li;
}
body {
    background-color: #fffff8;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
</style>

<head>
    <title>Hey guys</title>
</head>
<body>
    <div class='split left'>
        <h3>What I've been saying</h1>
        <hr>
        <div id='phrase list'></div>
    </div>
    <div class='split right'>
        <h3>The important points</h3>
        <hr>
        <div id='stage'></div>
    </div>
</body>

<script src="static/js/react.js"></script>
<script src="static/js/react-dom.js"></script>
<script src="static/js/socket.io-1.0.0.js"></script>
<script>
    window.onload = function() {

        class PhraseTable extends React.Component {
            constructor() {
                console.log('constructing...');
                super();
                this.state = {
                    value: {'p1': 'nothing yet', 'p2': 'nothing yet','p3': 'nothing yet', 'p4': 'nothing yet', 'p5': 'nothing yet', 'on_stage': ''}
                };
            }

            componentDidMount() {
                console.log('component did in fact mount...')
                const socket = io();
                socket.on("my_response", data => this.setState({value: data}));
            }

            render() {
                console.log('rendering...');
            }
        }

        class Registry extends PhraseTable {
            constructor() {
                super();
            }
            
            render() {
                var listy = [
                    this.state.value.p1,
                    this.state.value.p2,
                    this.state.value.p3,
                    this.state.value.p4,
                    this.state.value.p5
                ];

                var listitems = listy.map((num) => 
                    React.createElement('li', null, num)
                );
                return (
                    React.createElement('ol', null, listitems)
                );
            }
        }


        class Stage extends PhraseTable {
            constructor() {
                super();
            }

            render() {
                return(
                    React.createElement('p', null, this.state.value.on_stage)
                );
            }
        }

        ReactDOM.render(
            React.createElement(Registry),
            document.getElementById('phrase list')
        )
        ReactDOM.render(
            React.createElement(Stage),
            document.getElementById('stage')
        )
    }
</script>

</html>



