<DOCTYPE html>
<html>
<body>

    <h1>Enter ur shit boi</h1>
    <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
        <p>
            {{ form.search_item.label }}<br>
            {{ form.search_item(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr/>
    <div id=results></div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p>Results</p>
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</body>
</html>

